{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main-Page</title>
    <link rel="stylesheet" href="{% static '/main-page.css' %}">
</head>
<body>
    <div class="login-area">

        <div class="login-head">
            L O G I N<br>
            <div style="font-size: 15px;">HachiRoku Garage</div>
        </div>

        <div class="login-section">
            <label for="username" class="login-label">Username</label>
            <input type="text" id="username" class="login-input">
        </div>

        <div class="login-section">
            <label for="password" class="login-label">Password</label>
            <input type="password" id="password" class="login-input">
        </div>

        <div class="login-button-div">
            <button class="login-button">Login</button>
            <button class="register-button">Registrar</button>
        </div>
{#        <div class="login-button-div">#}
{#            <button class="register-button">Registrar</button>#}
{#        </div>#}
        <button class="recovery-account">Recuperar Conta</button>
    </div>
    <script src="static/main-page.js"></script>
</body>
</html>